.venv
.vscode
Dockerfile*
docker-compose*
*/__pycache__/*
db/*
*.sqlite3
*.pyc
*.pyo
bin/
*.lock


# Arquivos Docker do trabalho
!Dockerfile.backend
!Dockerfile.frontend
!docker-compose.yml
!nginx/
!nginx/nginx.conf
